<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
    <!-- configure SpringMVC -->
	<!-- 1. open SpringMVC annotation-driven mode -->
    <mvc:annotation-driven />

    <!-- 2. static resource default servlet configurations
        (1) add static resource control: js,gif,png
        (2) allow using "/" for inflection
    -->
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:default-servlet-handler/>

    <!--3. define view resolver -->
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"></property>
        <property name="suffix" value=".html"></property>
    </bean>

    <!-- 4. scan web bean -->
    <context:component-scan base-package="com.imooc.web"/>
</beans>